* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  user-select: none;

  width: 100%;
  text-decoration: none;
  color: black;
  scrollbar-width: none;
}
@-ms-viewport {
  width: device-width;
}
body {
  display: flex;
  min-height: 100vh;
  font-size: 100%;
}
main {
  flex: 8;
}
aside {
  flex: 2;
}

/************************* Header *****************/

header {
  position: relative;
  /* z-index: 2; */
}
header > img {
  width: 10%;
  margin: 2%;
  margin-left: 5%;
}
header > img:nth-child(1) {
  position: absolute;
  top: 7%;
  width: 9%;
  left: 0.5%;
}
header .fire {
  position: absolute;
  inset: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}
header .fire img {
  width: 5%;
}
.fire .circle {
  width: 15px;
  height: 15px;
  border-radius: 50%;
  margin: 2%;
}
.fire .circle.red {
  background: #fb4b4d;
}
.fire .circle.blue {
  background: #8b83f6;
}
header .nav {
  position: absolute;
  inset: 0;
  width: 80%;
  margin-left: 20%;
}

header .nav ul {
  display: flex;
  height: 100%;
  align-items: center;
  justify-content: center;
  list-style: none;
}
header .nav ul li {
  display: inline;
  text-transform: uppercase;
  font-size: 1rem;
}
header .nav ul li:nth-child(1) {
  flex: 0.6;
}
header .nav ul li:nth-child(2) {
  flex: 1;
}
header .nav ul li:nth-child(3) {
  flex: 0.5;
}
header .nav ul li:nth-child(4) {
  flex: 1;
}
header .nav ul li:nth-child(5) {
  flex: 1;
}

.logo-two-images {
  display: flex;
  width: 100%;
}
.logo-two-images .left-side {
  flex: 1;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.logo-two-images .left-side > img:nth-child(1) {
  width: 90%;
  margin: 0 5%;
  margin-bottom: 2%;
}
.logo-two-images .left-side > img:nth-child(2) {
  position: absolute;
  inset: 0;
  width: 85%;
  margin: 7.5%;
  top: -5%;
}
.left-side .pepper-line {
  position: relative;
  height: 50px;
  width: 100%;
  overflow: hidden;
}
.left-side .pepper-line .item {
  position: absolute;
  width: 150%;
  left: -15%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: nowrap;
}
.left-side .pepper-line .item img {
  width: 7%;
  margin: 0 0.5em;
}
.left-side .pepper-line .item span {
  text-transform: uppercase;
  font-size: 0.7em;
  text-wrap: nowrap;
  text-align: center;
}

.left-side .img-sauce-cup {
  padding: 3%;
}
.logo-two-images .right-side {
  flex: 1;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.right-side .title {
  padding: 3% auto;
  text-align: center;
}
.right-side .title h1 {
  font-size: 2em;
}
.right-side .img-sauce-hand {
  padding: 3%;
}

section.scorpions {
  display: flex;
  position: relative;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 0 1%;
}

.scorpions img {
  width: 17%;
  flex: 1;
}

.scorpions h2 {
  text-align: center;
  flex: 3;
  font-size: 2em;
  padding: 4%;
}

/******************** Three bottles ********************/

section.three-bottles {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  padding: 3%;
}

.three-bottles .bottle-item {
  position: relative;
  flex: 1;
  margin: 1%;
}
.three-bottles .bottle-item img {
  width: 100%;
}

.three-bottles .bottle-item div {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
}
.three-bottles .bottle-item div h3 {
  text-align: center;
  margin-top: 5%;
  font-size: 1.2em;
}
.three-bottles .bottle-item div h4 {
  text-align: center;
  font-size: 1.1em;
}
.three-bottles .bottle-item div img {
  padding: 5%;
}
.bottle-item img.side-image {
  position: absolute;
  top: -1vw;
  width: 15%;
}
.bottle-item img.side-image.left {
  left: 0.3vw;
}
.bottle-item img.side-image.right {
  right: 0.3vw;
}
.bottle-item img.center-image {
  position: absolute;
  top: -1vw;
  width: 3vw;
}
.bottle-item img.center-image.left {
  left: -2vw;
}
.bottle-item img.center-image.right {
  right: -2vw;
}

/***************************** Pepper-text-middle *******************/

.pepper-text .pepper-line {
  position: relative;
  height: 50px;
  width: 100%;
  overflow: hidden;
}
.pepper-text .pepper-line .item {
  position: absolute;
  width: 150%;
  left: -15%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: nowrap;
}
.pepper-text .pepper-line .item img {
  width: 4%;
  margin: 0 0.5em;
}
.pepper-text .pepper-line .item span {
  text-transform: uppercase;
  font-size: 0.7em;
  text-wrap: nowrap;
  text-align: center;
}
/************************* Big Image ******************/
section.big-image img {
  width: 96%;
  margin: 2%;
}
/********************** Story ***************************/

section.story {
  display: flex;
  align-items: center;
  justify-content: center;
}
.story .left {
  flex: 1;
}
.left .text {
  position: relative;
}
.left .text h2 {
  font-size: 2em;
  text-transform: uppercase;
  padding: 3%;
  text-align: center;
}
.left .image-girl {
  position: relative;
}
.left .image-girl img {
  width: 100%;
}
.story .right {
  flex: 1;
  position: relative;
}

.story .right img {
  width: 100%;
}
.story .right .imgs {
  position: absolute;
  inset: 0;
}
.story .right .imgs img {
  position: absolute;
  width: 15%;
}
.story .right .imgs img:nth-child(1) {
  top: 6%;
  left: 10%;
}
.story .right .imgs img:nth-child(2) {
  top: 6%;
  right: 10%;
}
.story .right .imgs img:nth-child(3) {
  bottom: 6%;
  left: 10%;
  width: 13%;
}
.story .right .imgs img:nth-child(4) {
  bottom: 6%;
  right: 10%;
  width: 15.5%;
}
.story .right .stars {
  position: absolute;
  inset: 0;
}
.story .right .stars img {
  inset: 10%;
  position: absolute;
  width: 80%;
  top: 8%;
  left: 9.5%;
}
.story .right .text {
  position: absolute;
  inset: 20%;
  width: 60%;
}
.story .right .text p {
  font-size: 0.7rem;
  padding: 3%;
  text-align: center;
}

/********************** Pepper-text-bottom *********/
section.pepper-text-bottom {
  display: flex;
  overflow: hidden;
  position: relative;
  height: 3vw;
  margin-top: 1vw;
}
.pepper-text-bottom .text-pepper {
  position: absolute;
  top: 0;
  left: -7%;
  display: flex;
  align-items: center;
  width: 90vw;
}
.pepper-text-bottom .text-pepper p {
  text-transform: uppercase;
  font-size: 0.7rem;
  margin-top: 0.3vw;
  text-wrap: nowrap;
}
.pepper-text-bottom img {
  width: 3.5vw;
  margin: 0 1vw;
}
/*******************Big logo ********************/
section.big-logo {
  position: relative;
}
section.big-logo img {
  position: relative;
  width: 100%;
  padding: 2%;
  z-index: 5;
}
section.big-logo .main-logo {
  position: absolute;
  inset: 0;
}
section.big-logo .main-logo img {
  position: absolute;
  inset: 20%;
  width: 60%;
}
section.big-logo .main-logo img:first-child {
  top: 15%;
}
section.big-logo .main-logo img:last-child {
  width: 57%;
  inset: 21.5%;
}
section.big-logo .imgs-corners {
  position: absolute;
  inset: 3.5%;
  width: 93%;
}
section.big-logo .imgs-corners img {
  position: absolute;
  width: 10%;
}
section.big-logo .imgs-corners img:nth-child(1) {
  top: 2.5%;
  left: 0;
}
section.big-logo .imgs-corners img:nth-child(2) {
  top: 2.5%;
  right: 0;
}
section.big-logo .imgs-corners img:nth-child(3) {
  bottom: 2.5%;
  left: 0;
}
section.big-logo .imgs-corners img:nth-child(4) {
  bottom: 2.5%;
  right: 0;
}
section.big-logo .fire-bottom {
  position: absolute;
  bottom: 0;
  left: 0;
  z-index: 1;
  height: 110%;
  padding: 0;
}
footer {
  background-color: #cdfd3b;
  display: flex;
  align-items: center;
  justify-content: space-between;

  padding: 2%;
}
footer p {
  text-transform: uppercase;
  text-wrap: nowrap;
  flex: 1;
  text-align: center;
}
footer p:nth-child(2) {
  flex: 2;
}

/***************************  Drop down menu **************/

.hide {
  display: none;
}
.drop-down-menu {
  position: fixed;
  width: 100vw;
  top: 10vw;
  right: 0;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.685);
}
.drop-down-menu ul {
  list-style: none;
  position: absolute;
  left: 5%;
  top: 3%;
}
.drop-down-menu ul li {
  margin: 5%;
}
.drop-down-menu ul li a {
  color: #fff;
  font-size: 1.6em;
}
.drop-down-menu .fire-drop-down {
  position: absolute;
  bottom: 9.1%;
  left: 0;
  z-index: 5;
  width: 100%;
}
.drop-down-menu .footer-drop-down {
  position: absolute;
  height: 10%;
  bottom: 0;
  left: 0;
  z-index: 5;
  width: 100%;
  background-color: #cdfd3b;
}
.nav-drop-down {
  position: fixed;
  background: #fff;
  top: 0;
  left: 0;
  height: 10vw;
  z-index: 1;
}

.nav-drop-down > img {
  width: 12%;
  margin: 2%;
  margin-left: 5%;
  z-index: 2;
}
.nav-drop-down > img:nth-child(1) {
  position: absolute;
  top: 7%;
  width: 9%;
  left: 0.5%;
}
.nav-drop-down .fire {
  position: absolute;
  inset: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}
.nav-drop-down .fire img {
  width: 8%;
}
.nav-drop-down .fire .circle {
  width: 15px;
  height: 15px;
  border-radius: 50%;
  margin: 2%;
}
.nav-drop-down .fire .circle.red {
  background: #fb4b4d;
}
.nav-drop-down .fire .circle.blue {
  background: #8b83f6;
}

.menu-icon {
  position: fixed;
  right: 0;
  top: 0;
  width: 10%;
  margin: 1%;
  z-index: 10;
}

@media screen and (max-width: 480px) {
  header .nav {
    display: none;
  }
}
@media screen and (min-width: 480px) {
  .nav-drop-down {
    display: none;
  }
  .menu-icon {
    display: none;
  }
  .drop-down-menu {
    display: none;
  }
}
/****************************** Adaptive *************/

@media screen and (max-width: 1200px) {
  aside {
    display: none;
  }
}

@media screen and (max-width: 800px) {
  .main {
    padding: 10% auto;
  }
  section.three-bottles {
    flex-direction: column;
    padding: 10%;
    font-size: 150%;
  }
  .three-bottles .side-image,
  .three-bottles .center-image {
    display: none;
  }
  .logo-two-images {
    flex-direction: column;
  }

  section.story {
    flex-direction: column;
  }
  footer p {
    font-size: 70%;
  }
}

@media screen and (orientation: portrait) and (max-width: 400px) {
  .story .right .text p {
    font-size: 0.5em;
  }
}
